/*
@author Anton Presnyakov <antonpresn@yandex.ru> 
2015
*/
@font-face {
  font-family: 'simtechicons';
  src: url('../css/addons/staff_banner/fonts/simtechicons.eot');
  src: url('../css/addons/staff_banner/fonts/simtechicons.eot#iefix') format('embedded-opentype'),
       url('../css/addons/staff_banner/fonts/simtechicons.woff') format('woff'),
       url('../css/addons/staff_banner/fonts/simtechicons.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}

 [class^="staff-icon-"]:before, [class*=" staff-icon-"]:before {
  font-family: "simtechicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.staff-icon-left-arrow:before { content: '\e800'; } 
.staff-icon-map:before { content: '\e801'; } 
.staff-icon-phone:before { content: '\e802'; } 
.staff-icon-close:before { content: '\e803'; } 
.staff-icon-clip:before { content: '\e804'; } 
.staff-icon-check:before { content: '\e805'; } 
.staff-icon-cup2:before { content: '\e806'; } 
.staff-icon-search-work:before { content: '\e807'; } 
.staff-icon-study2:before { content: '\e808'; } 
.staff-icon-right-arrow:before { content: '\e809'; } 
.staff-icon-shop:before { content: '\e80a'; } 
.staff-icon-zero:before { content: '\e80b'; } 
.staff-icon-win:before { content: '\e80c'; } 
.staff-icon-apple:before { content: '\e80d'; } 
.staff-icon-devices:before { content: '\e80e'; } 
.staff-icon-globe:before { content: '\e80f'; } 
.staff-icon-link:before { content: '\e810'; } 
.staff-icon-calendar:before { content: '\e811'; } 
.staff-icon-down-arrow:before { content: '\e812'; } 
.staff-icon-globus:before { content: '\e813'; } 
.staff-icon-simtech:before { content: '\e814'; } 
.staff-icon-down-dir:before { content: '\e815'; } 
.staff-icon-car-right:before { content: '\e816'; } 
.staff-icon-photo:before { content: '\e817'; } 
.staff-icon-fb:before { content: '\e818'; } 
.staff-icon-vk:before { content: '\e819'; } 
.staff-icon-tweet:before { content: '\e81a'; } 
.staff-icon-stud:before { content: '\e81b'; } 
.staff-icon-talk:before { content: '\e81c'; } 
.staff-icon-team:before { content: '\e81d'; } 
.staff-icon-person:before { content: '\e81e'; } 
.staff-icon-people:before { content: '\e81f'; } 
.staff-icon-like:before { content: '\e820'; } 
.staff-icon-job:before { content: '\e821'; } 
.staff-icon-inbox:before { content: '\e822'; } 
.staff-icon-info:before { content: '\e823'; } 
.staff-icon-three-people:before { content: '\e824'; } 
.staff-icon-simtechdev:before { content: '\e825'; } 
.staff-icon-hours:before { content: '\e826'; } 
.staff-icon-cubok:before { content: '\e827'; } 
.staff-icon-cscart:before { content: '\e828'; } 
.staff-icon-merchium:before { content: '\e829'; } 
.staff-icon-twigmo:before { content: '\e82a'; } 
.staff-icon-android:before { content: '\e82b'; } 
.staff-icon-car-left:before { content: '\e82c'; } 
.staff-icon-graph:before { content: '\e82d'; } 
.staff-icon-searchinice:before { content: '\e82e'; } 
.staff-icon-lan:before { content: '\e82f'; } 
.staff-icon-agent:before { content: '\e830'; } 
.staff-icon-star:before { content: '\e831'; } 
.staff-icon-months:before { content: '\e832'; } 
.staff-icon-stop:before { content: '\e833'; } 
.staff-icon-rocket:before { content: '\e834'; } 
.staff-icon-ok:before { content: '\e835'; } 
.staff-icon-play:before { content: '\e836'; } 
.staff-icon-pingpong:before { content: '\e837'; } 
.staff-icon-food:before { content: '\e838'; } 
.staff-icon-office:before { content: '\e839'; } 
.staff-icon-rubles:before { content: '\e83a'; } 
.staff-icon-clock:before { content: '\e83b'; } 