/*
@author Anton Presnyakov <antonpresn@yandex.ru> 
2015
*/

@import 'fonts.less';

.staff-banner-theme {
	
	width: 100%;
	
	.owl-buttons i{
		color: red;
		position: absolute;
		font-size: 20px;
		padding: 10px;
	}
	
	.owl-prev i{
		top: 110px;
		left: -40px;
	}
	
	.owl-next i{
		top: 110px;
		right: -40px;
	}
}

.staff-banner-carousel li.item {
	text-align: center;
	list-style: outside none none;
	
	font-family: "Open Sans",sans-serif;
	font-size: 18px;
	
	a {
		color: red;
		&:hover {
			color: #cc0000;
		}
	}
	
	.ty-no-image {
		min-width: 90%!important;
		margin: 0px auto;
	}
	
	img, .ty-no-image{
		max-width: 90%;
		
	}
	
	h4 {
		padding-top: 10px;
		padding-bottom: 0px;
	}
}

@media screen and (max-width: 1300px) {

	.staff-banner-carousel {
		width: 95% !important;
		margin: 0px auto !important;
	}

	.staff-banner-theme {
		.owl-prev i{
			left: -20px;
		}

		.owl-next i{
			right: -20px;
		}
	}
}

